body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-field {
    display: block;
    margin: 10px auto;
    width: calc(100% - 20px); /* Subtract padding and border from width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.input-field:focus {
    outline: none;
    border-color: #007bff;
}

.submit-btn {
    display: block;
    margin: 20px auto 10px;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}
